/* generic element selectors - alpha order*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

button {
    border-radius: 8px;
}

button:hover {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    cursor: pointer;
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width : 47%;
    padding: 25px;   
    background-color: white; 
}

h1 {
    text-align: center;
}

h2 {
    float: left;
    margin-top: 15px;
    margin-left: 0px;
}

h3 {
    text-align: center;
    margin-bottom: 0%;
}

h4 {
    float: left;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 3%;
}

input {
    margin-left: 3%;
    margin-right: 13%;
    margin-bottom: 0%;
    margin-top: 2%;
    height: 2%;
    width : 50%;
    padding : 1%;
    display: inline-block;
    position: right;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

td {
    padding: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: whitesmoke;
}

th {
    padding: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #1B4F72;
    color: white;
}

tr {   
    border: 1px solid black;
    border-collapse: collapse;
}


/* classes and ids - alpha order*/

.adminnav {
    background-color: whitesmoke;
    overflow: hidden;
    padding: 0px;
    margin-top: 0px;
}

.adminnav h2 {
    text-align: center;
    margin-top: 15px;
    margin-left: 27%;
}

.adminnav .tripButton {
    float: left;
    display: inline;
    width: 200px;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1B4F72;
    color: white;
}

.cancelButton {
    margin-left: 0%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 100px;
    width: 40%;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    padding: 1%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #9C2424;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.completeTrip {
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 1em;
}

.completeTripButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 100px;
    width: 40%;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    padding: 1%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1B4F72;
    color: white;
}

.createTrip {    
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 30px;
    text-align: right;
    height: 10%;
    width : 95%;
    padding: 2%;
    padding-top: 2%;   
}

.createTripButton {
    margin-left: auto;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 100px;
    width: 40%;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    padding: 1%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1B4F72;
    color: white;
}


.docTable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    padding: 1%;
    width: 95%;
    border: 1px solid black;
    border-collapse: collapse;
}

.docDelete {
    margin-top: auto;
    margin-right: auto;
    display: inline-block;
    content: "\00d7";
    color: #9C2424;
}

.docDownload {
    margin-top: auto;
    margin-right: auto;
    display: inline;
    width: auto;
    justify-content: space-around;
    padding: 10px;
    padding-left: 15%;
    padding-right: 15%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1B4F72;
    color: white;
}

.docHistHeader{
    overflow: hidden;
    padding: 0px;
    margin-top: 0%;
    margin-bottom: 1%;
}

.docHistHeader{
    overflow: hidden;
    padding: 0px;
    margin-top: 0%;
    margin-bottom: 1%;
}

.docHistHeaderDriver{
    overflow: hidden;
    padding: 0px;
    margin-top: 80px;
    margin-bottom: 1%;
}

#login {
    margin-left: auto;
    margin-right: auto;
}

.loginBtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1B4F72;
    color: white;
}

.logoutButton {
    float: right;
    display: inline;
    width: 200px;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1B4F72;
    color: white;
}

.newDocBtn {
    float: right;
    margin-top: 4%;
    margin-right: 3%;
    display: inline;
    width: 100px;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #CC5D00;
    color: white;
}

.pageHeader{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #0C7BDC; 
}

.pastButton {
    margin-left: 0px;
    margin-right: 0px;
    float: right;
    display: inline;
    width: 200px;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1B4F72;
    color: white;
}

.submitButton {
    background-color: #0C7BDC;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search {
    margin: 12px;
    margin-right: 0%;
    margin-left: 3%;
    padding: 10px;
    width: 70%;
}

.searchButton{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 11px;
    padding: 10px;
    width: 17%;
    background-color: #1B4F72;
    color: white;
}

.topnav {
    background-color: whitesmoke;
    overflow: hidden;
    padding: 0px;
    margin-top: 0px;
}

.tripButton {
    float: right;
    display: inline;
    width: 200px;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1B4F72;
    color: white;
}

.tripsTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 95%;
    border: 1px solid black;
    border-collapse: collapse;
}

.tripDetail{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 55% 55% 55%;
    margin-left: 0%;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 3%;
    text-align: center;
    width: 100%;
}

.tripDetailAdmin{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 22% 22% 22% 22% 12%;
    margin-left: 0%;
    margin-right: auto;
    margin-top: 0%;
    text-align: center;
    width: 100%;

}

.tripDetailArrivalTime{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.tripDetailDest{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.tripDetailDriver { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.tripDetailHeader {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.tripDetailStartLoc {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.tripDetailStartTime {    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.tripDetailID  {    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.tripDocs {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 100%;
    margin-top: 3em;
}